header{
  background-color: rgb(133, 133, 238);
  color:white;
  padding: 10px;
}

h1{
  text-align: center;
}

.current-weather{
  padding: 10;
}

h4{
  margin-top: 15;
}

.col-2 {
  background-color: rgb(18, 102, 219);
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: 10px;
}

